<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Учет товаров</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isHome}}
        <li class="active"><a href="/">Главная страница</a></li>
            {{else}}
                <li><a href="/">Главная страница</a></li>
        {{/if}}

        {{#if isCategory}}
        <li class="active"><a href="/category">Все категории</a></li>
          {{else}}
            <li><a href="/category">Все категории</a></li>
        {{/if}}
        {{#if isAdd}}
        <li class="active"><a href="/add">Добавить категорию</a></li>
            {{else}}
                <li><a href="/add">Добавить категорию</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>