<div id="sidebar">
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>List</li>
        <li>Зроблено позицій: <span id="doneCoffeeForToday"></span></li>
        <li>Ціна позицій: <span id="priceOfPosition"></span></li>
        <li>
            <button id="sendInfo" class="delete-btn">Зробити звіт</button>
        </li>

        <li><button id="resetAll" class="delete-btn">Reset</button></li>
    </ul>
</div>