<h2>Добавьте новую категорию</h2>

<form style="display: flex; flex-direction:column; justify-content:center;" id="form" action="/add" method="POST">
    <div id="allPosition" class="input-field categoryFirst">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название категории</label>
    </div>
    
    <button style="margin-bottom: 20px;" id="addPosition" class="btn btn-primary">Добавить позицию текущей категории</button>
    <button style="margin-bottom: 30px" class="btn btn-primary">Сохранить</button>
    
</form>