<h2>Редактируйте категорию {{сategory.title}}</h2>

<form id="form" action="/category/edit" method="POST">
    <div id="allPosition" class="input-field categoryFirst">
        
    </div>
    
    <button class="btn btn-primary">Редактировать</button>
</form>